.userMenuWrapper {
  display: inline-flex;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  background: none;
  border: none;
  outline: none;
}

.username {
  padding-left: 5px;
  padding-right: 15px;
}

.userMenu {
  position: absolute;
  background: white;
  color: #7f7d94;
  right: 20px;
  width: 200px;
  border-radius: 5px;
  padding: 10px 0;
  border: 1px solid #dfdee4;
  z-index: 1;
}

.option {
  background: none;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  text-align: left;
  padding: 6px 15px;
}

.option:hover {
  background-color: rgba(0,0,0,0.03);
}

.user {
  background-color: rgba(0,0,0,0.03);
  padding: 6px 15px;
}
