.root {
  padding: 5px 10px;
  background-color: #CDCFE7;
  margin: 10px 0;
  border-radius: 5px;
  overflow-x: auto;
}

span.root {
  display: inline-block;
}

/* Variants */
.body {
  margin-top: 20px;
  color: #6C6AB8;
  background: #dbddef;
  height: 35px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.code {
  margin-top: 0;
  background-color: #323446;
  padding: 15px;
}

.noPadding {
  padding: 0;
}

.bold {
  font-weight: 500;
}
