.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 10px;
}
.editorWrapper {
  display: flex;
  flex: 1;
}

.textAreaWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.textArea {
  padding-left: 70px;
  width: 100%;
  flex: 1;
  outline: none;
}
.outputWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.outputContainer {
  display: flex;
}

.outputWrapper {
  flex: 1;
}

.outputText {
  white-space: pre;
  padding: 0 50px;
}
