.root {
  display: block;
  width: 100%;
  display: flex;
  min-height: calc(100vh - 105px);
}

.buttons {
  margin: 50px 0;
}

.divider::after {
  content: ' ';
  border-right: 1px solid #d1d0d7;
  margin-left: 5px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.column {
  width: 49%;
}

.button {
  width: 100%;
  background: none;
  border: none;
  font-weight: bold;
  outline: none;
  color: #7f7d94;
  text-align: left;
  padding: 15px;
}

.active {
  composes: button;
  background: #ECEFF3;
  color: #5E5CA8;
  font-weight: bold;
}

.menu {
  width: inherit;
  margin-left: -15px;
}

/* Users */
.addressWrapper{
  background: white;
  display: flex;
  flex: 1;
}

.selectWrapper {
  width: 250px;
  display: flex;
}

.buttonWrapper {
  width: 150px;
  display: flex;
}

.emailWrapper {
  margin-top: 20px;
}

/* DELETE page*/

.text {
  color: #7f7d94;
}

.deleteButton {
  padding: 20px;
  border: none;
  background: #C51E1E;
  color: white;
  outline: none;
  margin-top: 20px;
}

.overflow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(236, 239, 243, 0.75);
  text-align: center;
}

.overflowTitle {
  padding-top: 80px;
  font-size: 2em;
  font-weight: bold;
  color: #6C6AB8;
}

.overflowDescription {
  font-size: 1.2em;
  color: #333;
}

.integrationLogo {
  height: 20px;
  margin-right: 20px;
}
