.docView {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: #eceff3;
  overflow: auto;
  min-height: 100%;
}

.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0;
  align-items: stretch;
}

.scrollSpy {
  margin-left: -10px;
}
