.content {
  position: relative;
  display: flex;
  flex: 2;
  background: #eceff3;
  overflow: visible;
}

.content:after {
  background-color: #eceff3;
  position: absolute;
  display: block;
  left: 100%;
  top: 0;
  bottom: 0;
  content: '';
  width: 1000px;
}

.contentWrapper {
  display: flex;
  flex: 1;
  position: relative;
  padding: 25px 35px;
  overflow-x: hidden;
  flex-direction: column;
}

.justify {
  composes: content;
  justify-content: space-between;
}
