@font-face {
  font-family: SignPainter;
  src: url('assets/fonts/SignPainter-HouseScript.ttf');
}

@font-face {
  font-family: RobotoThin;
  src: url('assets/fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: RobotoLight;
  src: url('assets/fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: RobotoRegular;
  src: url('assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: RobotoBold;
  src: url('assets/fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: RobotoMedium;
  src: url('assets/fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: RobotoBlack;
  src: url('assets/fonts/roboto/Roboto-Black.ttf');
}
