/**
 * Put here app specific styles.
 * you can import variables and modules from the Omorfia project which is
 * available as NPM dependency.
 */
@import "./styles/_bootstrap";
@import "fonts.scss";

@import "./styles/_browser-specific";

body, html {
  margin: 0;
  font-family: 'RobotoRegular', Helvetica, sans-serif;
  overflow-x: hidden;
}
