.wrapper {
  position: relative;
  width: inherit;
  margin-left: -15px;
}

.root {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.fixed {
  background-color: #FFFFFF;
  position: fixed;
  top: 75px;
  bottom: 40px;
  width: inherit;
  border-right: 1px solid #dcdee1;
  z-index: 100;
}
