.root {
  margin-top: 20px;
}

.row {
  position: relative;
  padding: 20px;
}

.row::before {
  position: absolute;
  left: 0;
  top: -1px;
  bottom: 0;
  width: 10px;
  background: #69bbf3;
  content: '';
}

.row:nth-of-type(2n)::before {
  background: #96cff7;
}

.row .row::before {
  display: none;
}

.row,
.row .row .row,
.row .row .row .row .row {
  background: white;
}

.row .row,
.row .row .row .row {
  background: #F6F7F9;
}

.row:not(:first-of-type) {
  border-top: 1px solid rgba(0,0,0,0.1);
}

.toggle,
.name {
  font-weight: bold;
}

.name {
  margin-right: 20px;
}

.name,
.type,
.toggle {
  display: inline-block;
}

.type {
  font-style: italic;
  color: #999;
}

.toggle {
  float: right;
  margin-top: -5px;
}

.itemTable {
  margin-top: 20px;
  border: 1px solid rgba(0,0,0,0.1);
}
