.wrapper {
  background-color: white;
  min-height: 100vh;
}

.inner {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

.tab {
  margin-top: -90px;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 49px -12px rgba(0,0,0,0.54);
  -moz-box-shadow: 0px 3px 49px -12px rgba(0,0,0,0.54);
  box-shadow: 0px 3px 49px -12px rgba(0,0,0,0.54);
  overflow: hidden;
  position: relative;
  z-index: 2
}

.welcome {
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  color: white;
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
}

.welcome__header {
  color: white;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 300;
}

.color {
  padding: 60px 0 90px;
  background-color: #6C6AB8;
  text-align: center;
}

.color:before {
  content: '';
  width: 100%;
  position: fixed;
  display: block;
  top: 75px;
  -webkit-box-shadow: inset 1px 22px 49px -26px rgba(0,0,0,0.24);
  -moz-box-shadow: inset 1px 22px 49px -26px rgba(0,0,0,0.24);
  box-shadow: inset 1px 22px 49px -26px rgba(0,0,0,0.24);
  height: 100px;
  pointer-events: none;
}

.logo {
  width: 150px;
}

.help {
  text-align: center;
  margin-bottom: 50px;
}

.helpLink {
  cursor: pointer;
  text-decoration: underline;
}

.sampleLink {
  padding: 10px 20px;
  font-weight: bold;
  display: inline-block;
  font-size: .8em;
  margin-top: 30px;
  background-color: #69bbf3;
  color: white;
  text-transform: uppercase;
}

.sampleLink:hover,
.sampleLink:focus {
  color: white;
  background-color: #589dcc;
}
