.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

.inner {
  display: flex;
  flex: 1;
}

.contentWrapper {
  display: flex;
  flex: 1;
  position: relative;
  padding: 50px;
  padding-right: 15px;
  overflow-x: hidden;
}

.navigation {
  display: inline-flex;
  align-items: center;
}

.right {
  align-items: center;
}
