.container {
  min-height: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  z-index: 2;
}

.content {
  padding-top: 75px;
  min-height: 100%;
  z-index: 1;
  position: relative;
}

.contentWrapper {
  display: flex;
  flex: 1;
  position: relative;
  padding: 25px 50px;
  overflow-x: hidden;
}

.navigation {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.right {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.right a {
  color: white;
}

.right > svg {
  margin-left: 15px;
}

.helpLink {
  color: rgba(255,255,255,0.6);
  cursor: pointer;
}

.helpLink:hover {
  color: white
}

.modalOpened {
  height: 100%;
  overflow-x: hidden;
}

.titleContainer {
  margin-left: 20px;
}

.title {
  font-size: 18px;
  margin: 0 0 5px;
}

.subtitle {
  font-size: 11px;
  font-weight: normal;
  margin: 0;
  opacity: 0.6;
}

.navigationLink {
  padding: 5px 10px;
}
