.root {
  display: block;
  width: 100%;
}

.buttons {
  margin: 50px 0;
}

.divider::after {
  content: ' ';
  border-right: 1px solid #d1d0d7;
  margin-left: 5px;
}

.title {
  font-size: 30px;
  color: #6C6AB8;
  margin-bottom: 25px;
  font-family: 'RobotoLight', Helvetica, sans-serif;
}

.description {
  color: #7f7d94;
  flex: 0 0 100%;
  margin-bottom: 40px;
}

.headerDetected {
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  color: #FA6465;
  justify-content: space-between;
  margin: 0 15px;
}
