.root {
  display: block;
  width: 100%;
}

.divider::after {
  content: ' ';
  border-right: 1px solid #d1d0d7;
  margin-left: 5px;
}

.title {
  font-size: 30px;
  color: #6C6AB8;
  margin-bottom: 25px;
  font-weight: 300;
}

.description {
  color: #7f7d94;
  flex: 0 0 100%;
  margin-bottom: 40px;
}

.headerDetected {
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  color: #FA6465;
  justify-content: space-between;
  margin: 0 15px;
}

.statusContainer {
  transition: all 300ms ease;
  display: flex;
  background: white;
  border-radius: 5px;
  margin-bottom: 40px;
  height: 50px;
  padding: 0 20px;
  width: 100%;
  border: 0;
  align-items: center;
  justify-content: space-between;
}


.status {
  flex-grow: 1;
  color: #7f7d94;
  text-align: left;
  font-size: 1.2em;
}

.statusEdit {
  color: #d1d0d7;
}

.statusContainer:hover .statusEdit {
  color: #7f7d94;
}
