.root {
  display: flex;
  color: #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  margin: 5px;
  margin-right: 10px;
}

.link {
  position: relative;
  top: 1px;
  display: inline-flex;
  margin-right: 15px;
  padding-bottom: 5px;
  cursor: pointer;
}

.active {
  composes: link;
  font-family: 'RobotoBold', Helvetica, sans-serif;
  color: #4e4c88;
  border-bottom: 3px solid #4e4c88;
}
