.appBar {
  position: relative;
  display: flex;
  background: #6C6AB8;
  color: white;
  justify-content: space-between;
  align-items: stretch;
}

.secondary {
  composes: appBar;
  background: #4e4c88;
}
