.smallLabel {
  font-size: .8em;
}

.submittedInfo,
.submittedError {
  color: white;
  padding: 20px;
  margin-bottom: 20px;
}

.submittedInfo a,
.submittedError a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.submittedInfo {
  background-color: #16a085;
}

.submittedError {
  background-color: #e74c3c;
}
