.root {
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  font-size: 14px;
}

.small {
  composes: root;
}

.icon {
  margin-left: 40px;
}

/* variants */
.rounded {
  justify-content: space-between;
  border-radius: 5px;
}

.body {
  background: white;
  color: #7f7d94;
  padding: 10px;
}

.primary {
  background: #61b8f4;
  color: white;
}

.link {
  color: #6fb3e3;
}

.linkPrimary {
  font-family: 'RobotoBold', Helvetica, sans-serif;
  color: #6C6AB8;
}

.large {
  width: 120px;
  padding: 10px;
  font-size: 14px;
}

.spaceRight {
  margin-right: 15px;
}

.lightBorder {
  border: 1px solid #f0f0f0;
}

.spaceLeft {
  margin-left: 10px;
}

.iconLeft {
  padding: 5px;
  flex-direction: row-reverse;
}

.iconLeft > .icon {
  margin: 0;
  margin-right: 10px;
}

.highlight {
  background-color: #dbddef;
}
