.root {
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
}

.button {
  composes: root;
  width: 150px;
  padding: 10px;
  font-size: 16px;
}

.buttonBlue {
  composes: button;
  background: #337AB7;
  color: white;
}

.small {
  composes: root;
}
