.root {
  display: flex;
  flex-direction: column;
  margin: 20px 0 3em 0;
  padding: 0;
}

.row {
  display: flex;
  position: relative;
  background: white;
}

.row::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #69bbf3;
  content: '';
}

.row:not(:first-of-type) {
  margin-top: 1px;
}

.row:not(:first-of-type):before {
  top: -1px;
}

.row:nth-of-type(2n)::before {
  background: #96cff7;
}

.cell {
  box-sizing: border-box;
  overflow: hidden;
  list-style: none;
  padding: 20px 0;
}

.cell:first-of-type {
  padding: 20px 20px;
}


.headerRow {
  composes: row;
  background: transparent;
  height: 40px;
  align-items: center;
  font-family: 'RobotoBold', Helvetica, sans-serif;
}

.headerRow::before {
  display: none;
}
