.appBar {
  display: flex;
  padding: 15px;

  border-bottom: 2px solid #BBBBBB;
}

.appBar__left {
  display: flex;
  flex: 1;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
}

.appBar__right {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-end;
}
