.sideBar {
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
  padding-right: 10px;
  border-right: solid 2px #dcdee1;
}

.handle {
  width: 4px;
  background-color: transparent;
  position: absolute;
  z-index: 100;
  cursor: ew-resize;
  right: -2px;
  top: 0;
  bottom: 0;
}

.handle:focus {
  cursor: ew-resize;
}
