.root {
  color: #7f7d94;
  position: relative;
}

.root::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  background-color: #1b1d28;
  display: block;
  content: '';
}

.top {
  clear: both;
}

.fill {
  composes: top;
}

.content {
  overflow: hidden;
  clear: both;
  float: left;
  width: 50%;
}

.bodyContent {
  padding: 15px 30px;
}

.code {
  font-weight: 500;
  float: right;
  width: 50%;
  position: relative;
  background-color: #1b1d28;
  color: #d1d0d7;
  overflow: hidden;
}

.codeInner {
  background-color: #1b1d28;
  padding: 15px 30px;
}

.header {
  position: relative;
  font-weight: 500;
  border-top: 1px solid #dcdee1;
  padding: 20px 30px;
  margin: 15px 0;
  color: #6C6AB8;
  font-size: 20px;
}

.headerMain {
  border: none;
  composes: header;
  background-color: #FFFFFF;
  font-size: 22px;
}

.title {
  display: inline-block;
  padding-right: 26px;
}

.method {
  background: #5E5EAA;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: capitalize;
  padding: 15px;
  margin-right: 15px;
}

.section {
  margin-bottom: 30px;
}

.addHeader {
  font-weight: 500;
  padding: 0 30px;
}

.editButton {
  position: absolute;
  right: 16px;
  top: 16px;
}
