.container {
  flex: 1;
}

.code {
  white-space: pre;
  display: inline;
  background: #3c3c3c;
  padding: 0 20px;
  width: 100%;
  color: #c9c9c9;
}

.greenLine {
  composes: code;
  background: #4A9154;
}
.yellowLine {
  composes: code;
  background: #93784B;
}
.redLine {
  composes: code;
  background: #924A4B;
}

.attribute {
  width: 50px;
  display: inline-block;
  background: #464646;
  height: 100%;
  text-align: center;
}

.redAttributeSpan {
  composes: attribute;
  background: #B05C5C;
}
.greenAttributeSpan {
  composes: attribute;
  background: #5BB16A;
}

.yellowAttributeSpan {
  composes: attribute;
  background: #AF915F;
}

.attributeSpan {
  color: #848484;
  text-align: center;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
}

.attributeSpanReq {
  composes: attributeSpan;
  color: #c9c9c9;
}

.oneLine {
  flex: 1;
  height: 20px;
  display: flex;
}

.oneLineSelected {
  composes: oneLine;
  opacity: 0.8;
}

.lineContainer {
  display: flex;
}

.inactiveActionButton {
  width: 160px;
  height: 20px;
  visibility: hidden;
}

.containerButtons {
  height: 20px;
  width: 160px;
  display: inline-block;
}

.button {
  height: 20px;
  width: 70px;
  border: 1px solid gray;
  padding: 0;
  background: none;
  margin: 0 5px;
}

.addButton {
  composes: button;
  color: #5BB16A;
}

.removeButton {
  composes: button;
  color: #B05C5C;
}

.changeButton {
  composes: button;
  color: #AF915F;
}

.rejectButton {
  composes: button;
  color: gray;
}
