.selectWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 0;
  cursor: pointer;
}

.selectedOption {
  width: 100%;
}

.optionList {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: white;
  z-index: 1000;
  color: black;
  border: 1px solid black;
}

.innerSelected {
  display: flex;
  flex-direction: column;
}

.main,
.additional {
  display: inline-flex;
}

.optionList > button {
  width: 100%;
  text-align: left;
  justify-content: flex-start;
}

/* Variants */

/* Full Width Variant */
.fullWidth {
  width: 100%;
}

.fullWidth > .selectedOption > button {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fullWidth > .optionList {
  display: flex;
  flex-direction: column;
}

.fullWidth > .optionList > button {
  justify-content: flex-start;
}

/* Bordered Variant */
.bordered {
  border: #EEEEEE solid 1px;
  border-radius: 5px;
  padding: 10px 10px 10px 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

.bordered.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.bordered > .optionList {
  left: -1px;
  right: -1px;
  border: #EEEEEE solid 1px;
  margin-bottom: 5px;
  color: currentColor;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bordered > .optionList > button {
  padding: 10px;
}

.bordered > .optionList > button:hover {
  background: #EEEEEE;
}

/* appBar Variant */

.appBar {
  background: #4e4c88;
  height: 100%;
  margin: 0;
  margin-left: 15px;
  padding: 0 15px;
  height: 75px;
}

.appBar:hover,
.appBar.open {
  background: #46447A;
}

.appBar > .optionList {
  border: none;
  background: #4e4c88;
  color: white;
}

.appBar > .optionList > button {
  padding: 10px;
}

.appBar > .optionList > button:hover {
  background-color: #6C6AB8;
}

.appBar > .selectedOption > button {
  display: flex;
  font-size: 16px;
  justify-content: flex-start;
}

.appBar .additional {
  font-size: 12px;
  color: #c9c8eb;
}
