.root {
  position: relative;
  color: #7f7d94;
  padding: 15px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.root::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #69bbf3;
  content: '';
}

.root:not(:first-of-type) {
  margin-top: 1px;
}

.root:not(:first-of-type):before {
  top: -1px;
}

.root:nth-of-type(2n)::before {
  background: #96cff7;
}

/* Variants */
.isNew {
  position: relative;
  color: white;
  padding: 15px;
  background: #5CB16A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.isNew::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background: #78D688;
  content: '';
}

.isNew:not(:first-of-type) {
  margin-top: 1px;
}

.isNew:not(:first-of-type):before {
  top: -1px;
}

/*.isNew:nth-of-type(2n)::before {
  background: #5CC16A;
}*/
/**/

.empty {
  composes: root;

  color: #d1d0d7;
}

.empty::before {
  background: #d1d0d7;
}

.data {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 10px;
}

.actions {
  flex-basis: 75px;
  text-align: right;
  flex-shrink: 0;
  color: #d1d0d7;
}
