.root {
  margin-bottom: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-direction: row;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.title {
  font-size: 20px;
  color: #6C6AB8;
}

.description {
  color: #7f7d94;
  flex: 0 0 100%;
}

.buttonWrapper {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.iconWrapper {
  color: #6fb3e3;
}

.footer {
  padding: 15px 20px 0;
}
