.sideBar {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-right: solid 1px #dcdee1;
  padding: 15px;
}

.handle {
  width: 4px;
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  cursor: ew-resize;
  right: -2px;
  top: 0;
  bottom: 0;
}

.handle:focus {
  cursor: ew-resize;
}
