.root {
  display: block;
  width: 100%;
}

.buttons {
  margin: 50px 0;
}

.divider::after {
  content: ' ';
  border-right: 1px solid #d1d0d7;
  margin-left: 5px;
}

.responseParam {
  color: #6C6AB8;
  font-family: 'RobotoBold', Helvetica, sans-serif;
}

.urlContainer {
  display: flex;
  background: white;
  border-radius: 5px;
  margin-bottom: 40px;
  height: 50px;
}

.method {
  color: #6C6AB8;
  font-family: 'RobotoBold', Helvetica, sans-serif;
  padding: 0 20px;
  border-right: 1px solid #ECEEFA;
  height: 100%;
  align-items: center;
  display: flex;
}

.url {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  padding-left: 20px;
  color: #7f7d94;
  align-items: center;
  font-size: 1.2em;
}

.editUrl {
  align-items: center;
  display: flex;
  color: #d1d0d7;
  padding-right: 15px;
}
